.hero {
    text-align:center;
  }
  
  @media (min-width:768px) {
    .hero {
      text-align:center;
    }
  }
  
  .hero h1 {
    color:#fff;
    font-size:40px;
    margin-top:0;
    margin-bottom:15px;
    font-weight:300;
    line-height:1.4;
  }
  
  @media (min-width:992px) {
    .hero h1 {
      margin-top:190px;
      margin-bottom:24px;
      line-height:1.2;
    }
  }
  
  .hero p {
    color:rgba(255,255,255,0.8);
    font-size:20px;
    margin-bottom:30px;
    font-weight:300;
  }
  
  .action-button {
    background:inherit;
    border-color: #FFCD00;
    color: #ffff;
    border-radius: 24px 24px 24px 0px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none !important;
  }
  
  .action-button:hover, .header-green .action-button:active {
    background:#FFCD00;
  }
  
  .action-button:active {
    transform:translateY(1px);
  }